@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
.nanumgothic * { font-family: 'Nanum Gothic', sans-serif; }

.title{
    padding: 6vh;
    height:20vh;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
    font-weight: bold;
    z-index: 3;
}

.letter{
    font-size: 70px;
    transform:rotate(-4deg);
    color:white;
    text-shadow : -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;
    z-index: 2;
}

.timetable{
    display: flex;
    justify-content: space-around;
    align-content: flex-start; 
    z-index: 1;
}

.weekdate{
    margin-top: 7vh;
    font-family: "Nanum Gothic", sans-serif;
    text-align: right;
    height: 7vh;
    background-color: powderblue;
}

.weekofday{
    justify-content: space-between;
    font-family: "Nanum Gothic", sans-serif;
    flex-direction: column;
    text-align: center;
}

.sunday{
    color:red;
}

.saturday{
    color:blue;
}
.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday{
    flex-grow:1;
}
.timeslotbutton{
    font-family: "Nanum Gothic", sans-serif;
    border: 1px solid;
    padding: 10px;
    width:13vw;

    flex-direction: column;
    align-items: center;
}

.nine{
    position: absolute;
    top:37vh;
}

.ten{
    position: absolute;
    top:42vh;
}

.eleven{
    position: absolute;
    top:47vh;
}

.twelve{
    position: absolute;
    top:52vh;
}

.thirteen{
    position: absolute;
    top:57vh;
}

.fourteen{
    position: absolute;
    top:62vh;
}

.fifteen{
    position: absolute;
    top:67vh;
}

.sixteen{
    position: absolute;
    top: 72vh;
}

.seventeen{
    flex-direction: row;
    position: absolute;
    top: 77vh;
}

.eighteen{
    position: absolute;
    top: 82vh;
}


.content{
    position: absolute;
    text-align: center;
}