<form action="{% url 'content_revise' content_id %}" method="post">
    {% csrf_token %}
    {{content_form.as_p}}

<input type="submit" value="OK">
</form>


<a href="{% url 'content_delete' content_id %}">
    <button>제작취소</button>
</a>


{% for timeslot in timeslots %}

<form action="{% url 'close' timeslot.id content_id%}" method="post">
    {% csrf_token %}
    <div class="timeslot">
    <button type="submit" name="close" value="close" >막기</button>
</form>

<form action="{% url 'time_make' timeslot.id content_id%}" method="post">
    {% csrf_token %}
    <div class="timeslot">
    <button type="submit" name="close" value="close" >수정</button>
</form>

    {{timeslot.date}} {{timeslot.starttime}} {{timeslot.endtime}} {{timeslot.day_of_week}} {{timeslot.isUsed}} 
    <br>
    </div>

{% endfor %}